<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ch.weetech.deepseekai"
         point="org.eclipse.e4.workbench.model">
         <fragment
               apply="always"
               uri="fragment.e4xmi">
         </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
         id="ch.weetech.deepseekai.preferences.OpenAIPreferencePage"
         class="ch.weetech.deepseekai.preferences.ModelPreferencePage"
         name="DeepSeekAI"
         >
         </page>
         <page
               id="ch.weetech.deepseekai.preferences.PromptsPreferencePage"
               class="ch.weetech.deepseekai.preferences.PromptsPreferencePage"
               category="ch.weetech.deepseekai.preferences.OpenAIPreferencePage"
               name="Prompts">
         </page>
         <page
               id="ch.weetech.deepseekai.preferences.ModelListPreferencePage"
               class="ch.weetech.deepseekai.preferences.ModelListPreferencePage"
               category="ch.weetech.deepseekai.preferences.OpenAIPreferencePage"
               name="Models"
               >
         </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="ch.weetech.deepseekai.preferences.PreferenceInitializer">
         </initializer>
   </extension>
  
</plugin>
